@import '../node_modules/bootstrap/scss/functions';


@mixin pillLogo($color) {
    background-color: rgba($color, 0.3);
    padding: 8px 0;
    padding-left: 35px;
    padding-right: 5px;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    color: tint-color($color, 5%);
    margin-right: 5px;
}

// @mixin accentText($color){

// }