@import '../node_modules/bootstrap/scss/functions';

// Color palette based on primary color

$blue-chill: #058284;
$secondary-color: tint-color($blue-chill, 80%);
$muted-color: shade-color($blue-chill, 65%);
$bg-light: tint-color($blue-chill, 95%);

$primary: $blue-chill;

$silver-sand: #bcbdbd;
$secondary: $silver-sand;

$shark: #191c1e;
$bg-dark: $shark;
$bg-less-dark: tint-color($bg-dark, 7%);
// Sizes

$header-height: 72px;
$navbar-height: 96px;