@import '../node_modules/bootstrap/scss/functions';

// Color palette based on primary color

$primary-color: rgb(5, 130, 132);
$secondary-color: tint-color($primary-color, 20%);
$muted-color: shade-color($primary-color, 65%);

$primary: $primary-color;

// Sizes

$header-height: 72px;