@import '../node_modules/bootstrap/scss/functions';

// Color palette based on primary color

$blue-chill: #058284;
$secondary-color: tint-color($blue-chill, 85%);
$muted-color: shade-color($blue-chill, 65%);

$primary: $blue-chill;

$silver-sand: #bcbdbd;
$secondary: $silver-sand;

$shark: #191c1e;
$bg-dark: $shark;
// Sizes

$header-height: 72px;
$navbar-height: 96px;