@import './partials/variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap/scss/functions';

ul {
  list-style: none;
}

a, li {
  text-decoration: none;
  color: white;
}

// Sovrascrivo con la specificity la classe di bootstrap
// .btn-primary{
//   background-color: $primary-color;
//   font-size: 1.2rem;
//   padding: .5rem 1.7rem;
// }


