@import '../../node_modules/bootstrap/scss/bootstrap.scss' ;
@import '../styles/partials/variables' ;

ul {
  list-style: none;
}

a, li {
  text-decoration: none;
}

.btn-primary{
  background-color: $primary-color;
}


