@import './partials/variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap/scss/functions';

ul {
  list-style: none;
}

a, li {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.accent-text {
  background-color: $secondary-color;
  color: $primary;
  padding: .3rem .3rem;
  font-weight: bold;
}

